body {
    background-color: rgb(91, 189, 255);
}

#toDoListHeader {
    margin-top: 15px;
    font-size: 60px;
}

#addToDo {
    border-radius: 5px;
    margin-left: 15px;
    padding: 8px;
    border: none;
    background-color: rgb(35, 130, 255);
    color: white;
    padding-right: 25px;
    padding-left: 25px;
}

#clearAll {
    border-radius: 5px;
    margin-left: 15px;
    padding: 8px;
    border: none;
    background-color: rgb(150, 150, 150);
    color: white;
    padding-right: 25px;
    padding-left: 25px;
}

#clearCompleted {
    border-radius: 5px;
    margin-left: 15px;
    padding: 8px;
    border: none;
    background-color: rgb(150, 150, 150);
    color: white;
    padding-right: 25px;
    padding-left: 25px;
}

#inputField {
    background-color: #eeeeee;
    margin-top: 20px;
    border-radius: 5px;
    padding: 8px;
    width: 400px;
    border: none;
}

#toDoContainer {
    text-align: center;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 8px 9px 11px 0px rgba(7, 0, 0, 0.49);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    width: 50vh;
    height: 50vh;
}

.task-styling {
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

.check-button-styling {
    background-color: rgb(30, 204, 4);
    border: none;
    color: white;
    font-size: 15px;
    float: right;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

}

.delete-button-styling {
    background-color: #df3030;
    border: none;
    color: white;
    font-size: 15px;
    float: right;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

#clearCompleted {
    margin-top: 53px;
}